#blog {
  
  .content {
    float: left;
    width: 640px;
    margin: 0 auto;
    x-border: 1px solid blue;
  }

  aside {
    float: right;
    width: 320px;
    x-border: 1px solid red;

    img {
      margin: 10px;
    }
  }
  
}
