/* ==========================================================================
   Base
   
   Base rules declare the default styling for all occurances of an element on
   a page.
   
   Rules within this style sheet should be applied to elements using type
   selectors, rather than class or ID selectors.  Such rules, if necessary,
   should be placed into component-specific style sheets.
  
   References:
     - [Base Rules](https://smacss.com/book/type-base)
   ========================================================================== */

html {
	x-box-sizing: border-box;
}

*, *:before, *:after {
	x-box-sizing: inherit;
}

p {
	margin: 0 0 2em 0;
}

body {
	background: #fff;
	color: #333;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
}

a {
  color: #06c;
	text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
