/* ==========================================================================
   Base
   
   Base rules declare the default styling for all occurances of an element on
   a page.
   
   Rules within this style sheet should be applied to elements using type
   selectors, rather than class or ID selectors.  Such rules, if necessary,
   should be placed into component-specific style sheets.
  
   References:
     - [Base Rules](https://smacss.com/book/type-base)
   ========================================================================== */

p {
	margin: 0 0 2em 0;
}

body {
	background: #fff;
	color: #a2a2a2;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
}

a {
	color: #49bf9d;
	text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
