extends ./layout

block feed
  .hfeed
    each post in posts
      article.hentry
        h1
          a(rel='bookmark', href=post.absoluteURL)= post.title
        .entry-content
          |!{ post.content }
