extends ../layout

block content
  header
    .wrapper
      #brand
        a(href='/')
          img(src='/images/avatar.jpg')
        .text
          h1
            a(href='/blog/') Jared Hanson's Blog
          p
            a(href='/') jaredhanson.me

  .wrapper
    block feed

    #sidebar
      p I'm Jared, a software engineer and identity management expert, as well as security and privacy.
    
      img(src='https://storage.googleapis.com/support-kms-prod/SNP_2954603_en_v0', width=300, height=250)
