//-
  Blog layout
//-

extends ./layout

block feed
  article.hentry
    h1.entry-title
      a(rel='bookmark', href=absoluteURL)= title
    p.metadata
      time.published(title=publishedAt.toISOString()) #{publishedMoment.format('dddd, MMMM D, YYYY')}
    .entry-content
      |!{ content }
