//-
  Blog layout
//-

extends ../layout

block content
  article.hentry
    h1.entry-title= title
    .entry-content
      |!{ content }
    div
      span.author
        span.fn Jared
      abbr(class='published', title=publishedAt.toISOString().substring(0,19)+'Z') #{createdAt}
      
