//-
  Blog layout
//-

extends ./layout

block feed
  article#feed.hentry
    h1.entry-title
      a(rel='bookmark', href=absoluteURL)= title
    p.metadata
      time.published(datetime=publishedAt.toISOString())= publishedMoment.format('dddd, MMMM D, YYYY')
      address.author.vcard
        span.fn= author.name
    .entry-content
      |!{ content }
