extends ./layout
    
block header
  header#hero
    .inner
      a.image.avatar(href='/', alt='Jared Hanson')
        img(src='images/avatar-big.png')
      h1 Jared Hanson
      
    .social
      .inner
        ul.icons
          li
            a.icon.fab.fa-facebook(href='https://www.facebook.com/jaredhanson')
              span Facebook
          li
            a.icon.fab.fa-linkedin(href='https://www.linkedin.com/in/jaredhanson')
              span LinkedIn
          li
            a.icon.fab.fa-twitter(href='https://twitter.com/jaredhanson')
              span Twitter
          li
            a.icon.fab.fa-github(href='https://github.com/jaredhanson')
              span GitHub
          li
            a.icon.fab.fa-angellist(href='https://angel.co/jaredhanson')
              span AngelList
          li
            a.icon.fas.fa-rss(href='/blog/')
              span Blog
      
block content
  div#main
    section
      header
        h2 Ipsum lorem dolor aliquam ante commodo magna sed accumsan arcu neque.
      |!{content} 
