doctype html
html(prefix='og: http://ogp.me/ns#', lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/assets/styles/all.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
    
  body
    #container
      block header
      block content
