doctype html
html(prefix='og: http://ogp.me/ns#', lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/assets/styles/all.css')
    
  body
    #content
      block content
